@charset "UTF-8";
/* estes es el archivo maestro */
/* acá están los estilos de las páginas */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Serif JP', serif !important;
}

.contenedorPrinc {
  margin-top: 58px;
  background: #eeaeca;
  background: -webkit-gradient(linear, left top, right top, from(#eeaeca), to(#94bbe9));
  background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
}

/* acá están los estilos del texto de bienvenida */
#secciones {
  padding: 50px;
  margin: auto;
}

.encabezado {
  font-size: 25px;
  color: #551a8b;
}

p {
  font-size: 16px;
  color: #592f38;
}

/* acá está el estilo del ícono de WhatsApp */
#iconoFixed {
  display: block;
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 100;
}

#iconoFixed img {
  width: 50px;
  height: 50px;
}

/* acá está el estilo de la foto */
.imagen_avatar {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid;
}

/* acá está el estilo de la foto del navbar */
.logoImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
}

/* acá comienzan los estilos de "about.html" */
/* ----------------------------------------- */
/* acá uso flex-box para maquetar las secciones*/
#secciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* acá están los estilos de las secciones */
#secciones {
  padding: 10px;
  margin: 10px;
}

#seccionesSec {
  border: 1px solid;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  /*acá hago un efecto de cambio de color de background en cada bloque de párrafos*/
  -webkit-transition: 1s;
  transition: 1s;
}

#seccionesSec:hover {
  background-color: #eeaeca;
}

/*--------------fin del efecto----------------*/
/* acá comienzan los estilos de "portfolio.html" */
/* ----------------------------------------- */
.intro {
  text-align: center;
  padding: 30px;
}

.cuerpoPort {
  padding: 0px !important;
}

.contenedorPort {
  height: 600px;
}

/* acá comienzan los estilos de "servicios.html" */
/* ----------------------------------------- */
.contenedorServ {
  height: 600px;
}

.tabla {
  margin-top: 58px;
  padding: 30px;
  text-align: center;
}

.table {
  font-size: 16px;
  margin: 25px;
  border: none;
  margin: auto;
  margin-top: 20px;
}

.descripcion {
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 50vw;
}

/* acá comienzan los estilos de "contract.html" */
/* -------------formulario de contacto----------- */
.encabezado {
  font-size: 30px;
  text-align: center;
}

.contenedorForm {
  width: 99%;
  height: 900px;
}

/* acá está el estilo del formulario*/
.formulario {
  font-size: 16px;
  color: #551a8b;
  background-color: khaki;
  width: 500px;
  height: 900px;
  margin: auto;
  margin-top: 66px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px grey;
          box-shadow: 5px 5px grey;
}

.formato {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  font-family: 'Noto Serif JP', serif;
}

textarea {
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px grey;
          box-shadow: 5px 5px grey;
  font-size: 14px;
  font-family: 'Noto Serif JP', serif;
  resize: none;
}

.boton {
  background-color: #cfcccc;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px grey;
          box-shadow: 5px 5px grey;
}

.boton:hover {
  cursor: pointer !important;
  -webkit-transform: translateY(-3px) !important;
          transform: translateY(-3px) !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.boton:hover:active {
  -webkit-transform: translateY(3px) !important;
          transform: translateY(3px) !important;
}
/*# sourceMappingURL=main.css.map */