@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif JP', serif !important;
}
.contenedor {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.encabezado {
    font-size: 25px;
    color: rgb(85, 26, 139);
}


.tabla{
    margin-top: 58px;
    padding: 30px;
    text-align: center;
}

table {
    font-size: 16px;
    margin: 25px;
    border: 2px solid;
    margin: auto;
    margin-top: 20px;
}

p {
    color: #5d5f9a;
    font-size: 16px;
}

th {
    border: 1px solid;
    background-color: #efd3ed;
}

tr,
td {
    color: #983e71;
    border: 1px solid;
}

.descripcion {
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 5px;
    width: 50vw;
}



/* acá está el estilo del ícono de WhatsApp */

#iconoFixed {
    display: block;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 100;
}

#iconoFixed img {
    width: 80px;
    height: 80px;
}