/* acá están los estilos de las páginas */


* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif JP', serif !important;
}

.contenedorPrinc {
    margin-top: 58px;
    background: $color1;
    background: linear-gradient(90deg, $color1 0%, $color2 100%);
}


/* acá están los estilos del texto de bienvenida */


#secciones {
    padding: 50px;
    margin: auto;
}

.encabezado {
    font-size: 25px;
    color: $colorEncabezado;
}

p {
    font-size: 16px;
    color: $colorP;
}

/* acá está el estilo del ícono de WhatsApp */

#iconoFixed {
    display: block;
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 100;

    img {
        width: 50px;
        height: 50px;
    }


}

/* acá está el estilo de la foto */


.imagen_avatar {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid;
}

/* acá está el estilo de la foto del navbar */

.logoImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
}

/* acá comienzan los estilos de "about.html" */
/* ----------------------------------------- */

/* acá uso flex-box para maquetar las secciones*/

#secciones {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* acá están los estilos de las secciones */

#secciones {
    padding: 10px;
    margin: 10px;

}

#seccionesSec {
    border: 1px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    /*acá hago un efecto de cambio de color de background en cada bloque de párrafos*/
    transition: 1s;

    &:hover {
        background-color: $color1;

    }
}

/*--------------fin del efecto----------------*/


/* acá comienzan los estilos de "portfolio.html" */
/* ----------------------------------------- */

.intro {
    text-align: center;
    padding: 30px;
}

.cuerpoPort {
    padding: 0px !important;
}

.contenedorPort {
    height: 600px;

    @media (max-width:768px) {
        height: 800px;
    }
}

/* acá comienzan los estilos de "servicios.html" */
/* ----------------------------------------- */


.contenedorServ {
    height: 600px;

    @media (max-width: 768px) {
        height: 1000px;
    }
}

.tabla {
    margin-top: 58px;
    padding-top: 30px;
    text-align: center;
}

.table {
    font-size: 16px;
    margin: 15px;
    border: none;
    margin: auto;
    margin-top: 20px;
}

.descripcion {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    width: 70vw;
}

/* acá comienzan los estilos de "contract.html" */
/* -------------formulario de contacto----------- */

.encabezado {
    text-align: center;
}

.contenedorForm {
    width: 100%;
    height: 900px;
    margin: 0px;
}

/* acá está el estilo del formulario*/

.formulario {
    font-size: 16px;
    color: rgb(85, 26, 139);
    background-color: khaki;
    width: 500px;
    height: 900px;
    margin: auto;
    margin-top: 66px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px grey;

    @media (max-width:768px) {
        width: 350px;
    }
}

.formato {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Noto Serif JP', serif;
}

textarea {
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 5px grey;
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    resize: none;
}

.boton {
    background-color: rgb(207, 204, 204);
    border: 1px solid black;
    box-shadow: 5px 5px grey;

    &:hover {
        cursor: pointer !important;
        transform: translateY(-3px) !important;
        transition: all 0.5s !important;

        &:active {
            transform: translateY(3px) !important;
        }
    }
}